<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Extensions.CognitoAuthentication" version="2.5.0" />
  <package id="AWSSDK" version="2.3.55.2" />
  <package id="AWSSDK.APIGateway" version="3.7.200.21" />
  <package id="AWSSDK.CertificateManager" version="3.7.200.21" />
  <package id="AWSSDK.CognitoIdentity" version="3.7.200.21" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.201.12" />
  <package id="AWSSDK.CognitoSync" version="3.7.200.21" />
  <package id="AWSSDK.Core" version="3.7.201.1" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.200.22" />
  <package id="AWSSDK.Extensions.NETCore.Setup" version="3.7.7" />
  <package id="AWSSDK.IdentityManagement" version="3.7.200.21" />
  <package id="AWSSDK.Lambda" version="3.7.201.17" />
  <package id="AWSSDK.SecurityToken" version="3.7.201.17" />
  <package id="Microsoft.Bcl" version="1.1.10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" />
  <package id="Microsoft.Extensions.Options" version="7.0.1" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>